<template>
    <div class="form-group row">
        <label :for="id" class="col-md-4 col-form-label text-md-right">{{ label }}</label>

        <div class="col-md-6">
            <input :id="id" type="email" :class="{ 'is-invalid' : emailError }" :name="name" :value="value" :required="required" @input="validate()" autocomplete="email" class="form-control" ref="emailInput">

            <span class="invalid-feedback" role="alert" v-if="emailError">
                <strong>{{ emailError }}</strong>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                default: ''
            },
            name: {
                type: String,
                default: ''
            },
            label: {
                type: String,
                default: ''
            },
            value: {
                type: String,
                default: ''
            },
            required: {
                type: Boolean,
                default: false
            },
            error: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                timeout: null,
                emailError: this.error
            }
        },
        methods: {
            validate() {
                clearTimeout(this.timeout);

                this.timeout = setTimeout(() => {
                    let email = this.$refs.emailInput.value;
                    if ( this.validateEmail(email) ) {

                        const formData = {
                            email: email
                        };
                        const self = this;
                        axios.post('/uniqueEmail', formData)
                            .then(function (response) {})
                            .catch(function (error) {
                                self.emailError = error.response.data.errors.email[0];
                            });
                        
                    }
                }, 500);
            },
            validateEmail(email) {
                var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;              
                return regex.test(email);
            }
        }
    }

</script>
